rules_version = '2';
service cloud.firestore {

  // Helper function to check for unchanged fields
  function unchanged(key) {
    return resource.data[key] == request.resource.data[key];
  }

  match /databases/{database}/documents {
    // Rules for the 'restaurants' collection
    match /restaurants/{restaurantId} {
      allow read;
      allow create: if request.auth != null;
      allow update: if request.auth != null && unchanged("name");

      // Rules for the 'ratings' subcollection
      match /ratings/{ratingId} {
        allow read;
        // Ensure the user creating the review is the authenticated user
        allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      }
    }
  }
}
